@import './mixins';
@import './variables';

.actions {
  .item-name {
    flex: 3;
  }

  .items-header {
    .item-detail {
      flex: 1;
    }

    .item-damage {
      flex: 2;
    }
  }

  .item {
    > :not(.item-summary) {
      min-height: 30px; // arbitrary
      place-items: center;

      // name column is always first
      &:not(:first-child) {
        font-size: 12px;
        color: #7a7971;
        text-align: center;
        display: flex;
        place-content: center;
        line-height: normal; // have to keep the item-name h4 line height 30 because it is the clickable area for the expanding summary
      }
    }

    .item-image {
      align-self: stretch;
      background-repeat: no-repeat;
      background-position: center;
    }

    .spell-uses {
      flex: 0 auto;
      padding-right: 0.2em;
      margin-left: 0.2em;
    }

    .item-name {
      max-height: unset;

      &.feat-name-hack {
        overflow: visible; // fixes a bug in actions tab where expanded features would disappear in the foundry client only
      }

      h4 {
        text-overflow: ellipsis;
      }
    }
  }

  .damage-cell {
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start !important;
    margin-left: 0.2em;
    flex: 2;
  }
}
