@import './mixins';
@import './variables';

.sheet-header {
  @include spaced($space);

  border-bottom: 0;
  flex: 0;
  display: flex;
  align-items: center;

  h1 {
    flex: 1;
    height: auto;
    padding: 0;
    font-size: 1.6em;
    font-weight: 700;

    input {
      font-size: inherit;
      height: 100%;
      line-height: normal;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.header-actions {
  @include spaced($space / 2);

  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: 'Signika', sans-serif;
  flex: 0 auto;

  .rest {
    align-items: center;
    border: 1px solid var(--light-gray);
    border-radius: $border-radius;
    display: inline-flex;
    padding: 0.1em 0.2em;

    &:hover,
    &:focus {
      border-color: var(--highlight);
      background-color: rgba(var(--highlight), 0.1);
    }

    i {
      margin-left: 0.2em;
    }
  }
}

.header-fields {
  align-items: center;
  color: var(--accent-text);
  display: inline-flex;
  flex: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-direction: column;
    margin-top: $space;

    input {
      color: inherit;
      font-weight: inherit;
      padding: 0;
    }

    .non-editable {
      display: block;
    }

    > :first-child {
      border-bottom: 1px solid var(--accent-text);
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-radius: 0;
      width: 100%;
    }
  }

  .alignment {
    flex: 1 50%;
  }
  .background {
    flex-basis: 25%;
  }
  .class {
    flex-basis: 75%;
  }
  .experience-input {
    flex-basis: 25%;
  }
  .race {
    flex-basis: 25%;
  }
}
