@import './mixins';
@import './variables';

/* Applied to all Lists on the Sheet */
.items-list {
  .items-header {
    background: none;
    border: 0;
    border-bottom: $groove-border;
  }

  .item {
    border-bottom: 0;

    &:nth-child(even) {
      background-color: var(--darker-background);
      border-radius: $border-radius / 2;
    }
  }

  .item-list {
    &:not(:last-of-type) {
      margin-bottom: $space / 2;
    }

    .item-image-show {
      display: block;
      box-sizing: inherit;
      align-self: stretch;
      background-repeat: no-repeat;
      background-position: center;
      flex: 0 0 30px;
      background-size: 30px;
      margin-right: 5px;

      &.rollable {
        &:hover {
          background-image: url('../../icons/svg/d20-black.svg') !important;
        }
      }
    }
  }

  .sub-header {
    @include spaced($space);

    display: flex;
    padding: 0 $space;

    h4 {
      font-weight: 700;
      flex: 0 auto;
      margin-bottom: 0;
      white-space: nowrap;
    }

    hr {
      flex: 1 100%;
      height: 2px;
    }

    .item-controls {
      flex: 0 0 auto;

      a {
        flex: 1 0 auto;
      }
    }
  }

  .item-name {
    min-height: 30px;
  }

  .item-controls {
    @include spaced($space / 2);

    text-align: right;
  }
}

.condensed-inventory-list {
  padding: 0;

  .items-header {
    display: flex;
    flex: 0 auto;
    font-size: inherit;

    h3 {
      margin-bottom: 0;
      margin-right: 0;
    }

    .item-controls {
      flex: 0 auto;
      .item-control {
        flex: 0 1em;
      }
    }
  }

  .item {
    padding: 0;
    position: relative;

    &.expanded {
      .item-controls {
        display: flex !important;
      }
    }

    .item-controls {
      display: none !important;
      width: 100%;
      flex: 1 0 100%;
      order: 16;
      place-content: flex-end;
    }
  }

  .item-detail {
    border-right: 0;
  }

  .item-uses {
    flex: 0 0 4em;
  }

  .item-action {
    flex: 0 0 45px;
  }

  .player-class {
    flex: 0 auto;
  }

  .item-name {
    margin-left: $space / 2;
  }

  .item-summary {
    border-top: $groove-border;
  }

  .item-quantity {
    flex: 0 0 2.5em;
  }

  .item-weight {
    flex: 0 0 2.5em;
    border-right: 0;
    border-left: 0;
  }
}

/* Only the Features Section */
.features {
  .item {
    padding-right: 1em;
  }
}

/* Only the Inventory Section */
.inventory {
  @include spaced($space / 2);
}

.inventory-sidebar {
  @include spaced-vertical($space);
  display: flex;
  flex-direction: column;
  flex: 1 1px;
  max-width: 20%;

  + .inventory-list {
    flex: 4;
  }
}

.currency {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex: 0 auto;

  .currency-inputs {
    @include spaced-vertical($space);
    align-items: center;
    flex-direction: column;
    display: flex;

    input {
      margin-left: 0.2em;
      width: 4em;
    }
  }

  .currency-input {
    background: var(--groove-gray);
    position: relative;
    width: 100%;
    border-radius: $border-radius / 2;
  }

  label {
    border-top-left-radius: $border-radius / 2;
    border-bottom-left-radius: $border-radius / 2;
    background: var(--groove-gray);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6em;
    position: absolute;
    right: 100%;
    top: 0.7em;
  }
}

.encumberance {
  overflow: hidden;
  font-size: 0.7em;
  width: 100%;

  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .encumbered {
    font-weight: 700;
    color: var(--highlight);
  }
}
