@import './mixins';
@import './variables';

.spellbook {
  .spellbook-header {
    h4 {
      flex: 0 120px;
    }
  }
}

.spellcasting-ability {
  flex: 0 auto;
  display: flex;
  align-items: center;
  font-size: 12px;

  > div {
    flex: 1;
    white-space: nowrap;
  }

  label {
    font-weight: 700;
    color: var(--accent-text);
  }
}

.spell-comps {
  @include spaced(0.2em);
}

.spell-target {
  flex: 0 0 140px;
  display: flex;
  flex-direction: column;
  line-height: normal;
  place-content: center;
}

.spell-comps {
  flex: 0 0 120px;
}

.spell-slots {
  border-right: 0;
}
